<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>Chambre</title>
        </head>
        <body>
                <h3>Bienvenue sur l'étage N°<%= etagenum %></h3>
        </body>
</html>

